DATABASE_URL=""
DATABASE_AUTH_TOKEN=""

PUBLIC_SENTRY_DSN=""
PUBLIC_SENTRY_ENVIRONMENT="staging"
PUBLIC_SENTRY_TRACES_SAMPLE_RATE="0.2"
PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE="0.1"
PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE="1"

SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""

# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

RESEND_API_KEY=""

TEXT_LK_API_KEY=""

# Payments
PAYHERE_MERCHANT_ID="1226286"
PAYHERE_MERCHANT_SECRET="rthrthrth"
PAYHERE_IS_SANDBOX="true"

PAYPAL_CLIENT_ID="randomstring"
PAYPAL_CLIENT_SECRET="randomstring"
PAYPAL_IS_SANDBOX="true"

PAYKOKO_API_KEY="randomstring"

MINTPAY_API_KEY="randomstring"
