PUBLIC_APP_NAME=""
PUBLIC_APP_URL=""
PUBLIC_SENTRY_DSN=""
PUBLIC_SENTRY_ENVIRONMENT="development"
PUBLIC_SENTRY_TRACES_SAMPLE_RATE="1"
PUBLIC_SENTRY_REPLAYS_SESSION_SAMPLE_RATE="0.1"
PUBLIC_SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE="1"

SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""


# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

# Optional. Configure both values to enable Google sign-in and account linking.
PUBLIC_GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

EMAIL_FROM_ADDRESS=""
RESEND_API_KEY=""

TEXT_LK_OTP_SENDER_ID="Caro OTP"
TEXT_LK_TRANSACTIONAL_SENDER_ID="Caro"
TEXT_LK_PROMOTIONAL_SENDER_ID="Caro Promo"
TEXT_LK_API_KEY=""

# Remove the below env when deploying secrets
PUBLIC_OTP_COOLDOWN_SECONDS="60"

# Payments
PAYHERE_MERCHANT_ID=""
PAYHERE_MERCHANT_SECRET=""
PAYHERE_IS_SANDBOX="true"
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_IS_SANDBOX="true"
