DATABASE_URL=""
DATABASE_AUTH_TOKEN=""

# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

RESEND_API_KEY=""

TEXT_LK_API_KEY=""

PUBLIC_OTP_COOLDOWN_SECONDS="60"